@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

html, body {
    margin: 0;
    padding: 0;
    background-color: #1a6983a5;
}

#image-vista-logo {
    display:        block;
    margin:         3rem auto;
    width:          25%;
    max-width:      35%;
}

#image-tools {
    display:        block;
    margin:         6rem auto;
    width:          15%;
    max-width:      15%;
}

h1 {
    text-align:     center;
    font-family: 'PT Sans', sans-serif;
    color:          gray;
}

.indexbanner{
    z-index: 0;
    margin: 0px;
    width: 100vw;
    max-width: 100%;
    height: 85vh;
    padding-bottom: 1%;
    background-image: linear-gradient(transparent 50%, #0e2c53), url("../images/CacheValleyVB-results_91533_49800.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width: 800px) {
    .indexbanner{
        height: 50vh;
    }
}

.bannerimg{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    max-width: 100%;
    z-index: 1;
}

.indexcontent{
    margin: 0px;
    background-color: #0e2c53;
    width: 100%;
    max-width: 100%;
    height: 20vh;
    display: inline-block;
    top:-10rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'PT Sans', sans-serif;
}