/* People.js */

/* Mobile View */
@media screen and (max-width: 789px) {
  .description {
    padding: 1rem;
  }
}
.centered-image {
  display: block; /* Make the image a block element */
  margin: 0 auto; /* Center the image horizontally */
}