/* Global Styles */

html,
body {
  color: white;
  background-color: #1b576b;
  overflow-x: hidden;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-view {
  height: 100vh;
  width: 100vw;
}

::-webkit-scrollbar {
  width: 5px;
  height: 20px;
}

::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}

.page-title {
  font-weight: bold;
}

.link {
  color: #bce09a;
}

iframe {
  border-style: none;
  aspect-ratio: 9/10;
  width: 100%;
}

/* Mobile View */
@media screen and (max-width: 789px) {
  .center * {
    display: flex;
    justify-content: center;
  }
}